.btn {
  display: inline-block;
  margin-left: 0.4em;
  margin-right: 0.4em;
  padding: 0.3em 1em;

  background-color: transparent;
  border: none;
  color: color(white);
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
}

.btn-raised {
  @extend .shadow-low;
  transition: all .3s ease-out;
  &:hover, &:focus {
    @extend .shadow-high;
    transition: all .3s ease-out;
  }
}

.btn-block {
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}




@each $size, $breakpoint in $sizes {
  .btn-#{$size} {
    font-size: font-size($size);
  }
}




@each $color, $hex in $colors {
  .btn-#{$color} {
    background-color: color($color);
    &:hover, &:focus {
      background-color: lighten(color($color), 7%);
    }
    &:active {
      background-color: darken(color($color), 7%);
    }
  }
}
