.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.row {
    flex-direction: row;
  }
  &.col {
    flex-direction: column;
  }

  &.responsive {
    margin-left: auto;
    margin-right: auto;
    @each $size, $breakpoint in $sizes {
      @include breakpoint($size) {
        width: $breakpoint;
      }
    }
  }
}




@for $i from 1 through $columns {
  .cell-#{$i} {
    flex: 0 0 (($i / $columns) * 100%);
  }
  @each $size, $breakpoint in $sizes {
    @include breakpoint($size) {
      @for $i from 1 through $columns {
        .cell-#{$size}-#{$i} {
          flex: 0 0 (($i / $columns) * 100%);
        }
      }
    }
  }
}
