.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: color(black);
  color: color(white);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: block;

      a {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        span {
          padding-left: 0.5em;
        }
      }
    }
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > li {
      > a {
        padding: 0.6em 1em;
        color: color(white);

        + ul {
          display: none;
          background-color: color(white);
          color: color(black);
          li > a {
            padding: 0.4em 1em;
            color: color(gray-dark);

            + ul {
              display: none;
              top: 0;
              right: -20rem;
              background-color: color(white);
              color: color(black);
            }

            &:hover, &:focus {
              background-color: color(gray-lighter);
            }
          }
        }

        &:hover {
          background-color: lighten(color(black), 15%);
        }
      }
    }
  }

  &.navbar-fixed {
    position: fixed;
    top: 0;
  }
}


@include breakpoint(base) {

  .navbar {
    flex-direction: column;
    > ul {
      flex-direction: column;
    }
  }

}

@include breakpoint(xs) {

  .navbar {
    flex-direction: row;
    > ul {
      flex-direction: row;
      > li a + ul {
        position: absolute;
        z-index: z(raised);
        min-width: 20rem;
        @extend .shadow-low;
        ul {
          right: 0;
        }
      }
    }
  }

}
