.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.grid-left {
    justify-content: flex-start;
  }
  &.grid-center {
    justify-content: center;
  }
  &.grid-right {
    justify-content: flex-end;
  }
  &.grid-space-between {
    justify-content: space-between;
  }
  &.grid-space-around {
    justify-content: space-around;
  }
  &.grid-top {
    align-items: flex-start;
  }
  &.grid-middle {
    align-items: center;
  }
  &.grid-bottom {
    align-items: flex-end;
  }
  &.grid-stretch {
    align-items: stretch;
  }
}




.grid-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &.grid-top {
    justify-content: flex-start;
  }
  &.grid-middle {
    justify-content: center;
  }
  &.grid-bottom {
    justify-content: flex-end;
  }
  &.grid-space-between {
    justify-content: space-between;
  }
  &.grid-space-around {
    justify-content: space-around;
  }
  &.grid-left {
    align-items: flex-start;
  }
  &.grid-center {
    align-items: center;
  }
  &.grid-right {
    align-items: flex-end;
  }
  &.grid-stretch {
    align-items: stretch;
  }
}


@for $i from 1 through 12 {
  .cell-xs-#{$i} {
    flex: 0 0 ( ($i / 12) ) * 100%;
    max-width: ( ($i / 12) ) * 100%;
  }
  .cell-xs-offset-#{$i} {
    margin-left: ( ($i / 12) ) * 100%;
  }
}

@media (max-width: $breakpoint-sm) {
  @for $i from 1 through 12 {
    .cell-sm-#{$i} {
      flex: 0 0 ( ($i / 12) ) * 100%;
      max-width: ( ($i / 12) ) * 100%;
    }
    .cell-sm-offset-#{$i} {
      margin-left: ( ($i / 12) ) * 100%;
    }
  }
}

@media (max-width: $breakpoint-md) {
  @for $i from 1 through 12 {
    .cell-md-#{$i} {
      flex: 0 0 ( ($i / 12) ) * 100%;
      max-width: ( ($i / 12) ) * 100%;
    }
    .cell-md-offset-#{$i} {
      margin-left: ( ($i / 12) ) * 100%;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  @for $i from 1 through 12 {
    .cell-lg-#{$i} {
      flex: 0 0 ( ($i / 12) ) * 100%;
      max-width: ( ($i / 12) ) * 100%;
    }
    .cell-lg-offset-#{$i} {
      margin-left: ( ($i / 12) ) * 100%;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  @for $i from 1 through 12 {
    .cell-xl-#{$i} {
      flex: 0 0 ( ($i / 12) ) * 100%;
      max-width: ( ($i / 12) ) * 100%;
    }
    .cell-xl-offset-#{$i} {
      margin-left: ( ($i / 12) ) * 100%;
    }
  }
}





/*
.grid.fluid {

  @for $i from 1 through $columns {
    .cell-#{$i},
    .cell-xs-#{$i},
    .cell-sm-#{$i},
    .cell-md-#{$i},
    .cell-lg-#{$i},
    .cell-xl-#{$i} {
      flex: 0 0 ( ($i / $columns) ) * 100%;
      max-width: ( ($i / $columns) ) * 100%;
    }
    .cell-offset-#{$i},
    .cell-xs-offset-#{$i},
    .cell-sm-offset-#{$i},
    .cell-md-offset-#{$i},
    .cell-lg-offset-#{$i},
    .cell-xl-offset-#{$i} {
      margin-left: ( ($i / $columns) ) * 100%;
    }
  }

}

.grid.fixed {

  @for $i from 1 through $columns {

    .cell-#{$i} {
      flex: 0 0 ( ( $fixed-width / $columns ) * $i );
      max-width: ( ( $fixed-width / $columns ) * $i );
    }

  }

}
*/
